restaurant_name,url
cervo's,https://images.squarespace-cdn.com/content/v1/65b9a8caa67cf220bc4d2ac0/f7f25221-e9aa-483c-9d09-17d2d59a7c0f/04c+copy+2.png?format=1500w
mcdonalds,https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRjLWhWpx9PfbzysffLbMA_DK_8jawJAVHbw&s